<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/residences" routerLinkActive="active">Residences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/apartments" routerLinkActive="active">Apartments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/add-residence" routerLinkActive="active">add residence</a>
    </li>
  </ul>
</nav>