<h3>Residence {{ resID + 1 }}</h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-6 d-flex justify-content-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <!-- Image de la résidence -->
          <img [src]="SelectedRes.image" alt="error" class="rounded float-left img-fluid">
          
          <!-- Nom de la résidence -->
          <h5 class="card-title">{{ SelectedRes.name }}</h5>
          
          <!-- Adresse de la résidence (affichée conditionnellement) -->
          <p *ngIf="SelectedRes.locationShown" class="card-text">{{ SelectedRes.address }}</p>
          
          <!-- Statut de la résidence -->
          <div>
            <p class="card-text text-success">{{ SelectedRes.status }}</p>
          </div>
          
          <!-- Boutons d'action -->
          <div class="btn-group">
            <button (click)="nextRes()" class="btn btn-primary">Next</button>
            <button (click)="addRes()" class="btn btn-primary">Add Residence</button>
            <button (click)="updateRes(SelectedRes.id)" class="btn btn-primary">Update Residence</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>